<!-- This is just a sample book, not used in the app -->
<div class="card book" id="i-robot">
    <div class="book-meta">
        <div class="book-author">Isaac Asimov</div>
        <div class="book-name">I, Robot</div>
        <div class="book-publish-date">2/12/1950</div>
        <div class="book-genres">
            <div class="book-genre">Adventure</div>
            <div class="book-genre">Sci-Fi</div>
            <div class="book-genre">Novel</div>
        </div>
    </div>
</div>