h1,
h2,
h3,
h4,
h5,
h6,
div,
body,
p,
span,
br,
hr,
iframe,
canvas,
img,
article,
header {
  padding: 0;
  margin: 0;
  border: 0;
}


:root {
  --finance-bg-color: #f0d769; 
  --halloween-bg-color: black;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed');
body {
  color: black;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(files/png/background.png) no-repeat center center fixed; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); */
  /* background-size: cover; */
  background-color: #ebebeb;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  transition: all .2s ease;
  margin-top: 100px;
}

#book-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;
  width: 80vw;
}

.card {
  background-size: cover;
  background-color: #1e7ae1;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  transition: all .2s ease;
  margin: 20px;
}

.card:hover {
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}

.book-meta-halloween {
  background: var(--halloween-bg-color) !important;
  color: white;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(207, 116, 41, 0.9) !important;
  -moz-box-shadow: 0px -3px 5px 0px rgba(207, 116, 41, 0.9) !important;
  box-shadow: 0px -3px 5px 0px rgba(207, 116, 41, 0.9) !important;
}

.book-meta-halloween .book-genre {
  background: white !important;
  color: black !important;
}

.book-meta-finance-friday {
  background: var(--finance-bg-color) !important;
}

.book-meta {
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  padding: 10px;
  flex: .4;
  transition: all .2s ease;
}

.book-meta .book-publish-date {
  display: none;
  visibility: hidden;
  font-size: .8em;
  transition: all .2s ease;
}

.card:hover>.book-meta .book-publish-date {
  visibility: visible;
  display: block;
}

.book-meta .book-genre {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 3px;
  margin: 2px;
  cursor: pointer;
}

.book-genres {
  opacity: 0;
  display: none;
  transition: all 1s ease;
}

.card:hover>.book-meta .book-genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 1;
}

.card:hover>.book-meta {
  flex: .8;
}

.card:hover>.book-meta * {
  transition: all .2s ease;
}

.card:hover>.book-meta .book-author {
  font-size: 1em;
}

.card:hover>.book-meta .book-name {
  font-size: 1.4em;
  font-weight: 700;
}

.book-author {
  font-size: .7em;
}

.book-name {
  font-family: 'Roboto Condensed', sans-serif !important;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
 }

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
}

#load-more {
  color: white;
  border-radius: 5px;
  background-color: #2b4fa2;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: .5s all ease;
  margin-top:20px;
  margin-bottom:100px;
}

.display-none {
  display: none !important;
}

#loading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#loading-text {
  margin: 20px;
}

#color-legend {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-self: flex-start; */
  align-items: flex-start;
  width:80vw;
  margin:20px;
  margin-left:50px;
}

.list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.legend-color {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.legend-color,
#legend-color-halloween {
  background-color: var(--halloween-bg-color);
}

.legend-color,
#legend-color-finance {
  background-color: var(--finance-bg-color);
}

#genre-name{
  width: 80vw;
  margin: 20px;
  font-weight: 700;
  font-size: 3em;
}

/*-----------SPINNER----------*/

@import url(https://fonts.googleapis.com/css?family=RobotoDraft:500);
* {
  font-family: 'RobotoDraft', sans-serif;
  font-size: 15px;
  padding: 20px;
}

.material_block {
  width: 580px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
  margin: auto;
}

.spinner {
  -webkit-animation: rotation 1.35s linear infinite;
  animation: rotation 1.35s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.circle {
  stroke-dasharray: 180;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: turn 1.35s ease-in-out infinite;
  animation: turn 1.35s ease-in-out infinite;
}

@-webkit-keyframes turn {
  0% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes turn {
  0% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

svg .circle {
  stroke: #9e9e9e;
}

/*-----------LOADER DONE--------------*/

/*-----------DROPDOWN----------------*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*| Navigation |*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .1);
}

nav ul {
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  display: inline-table;
  overflow: auto;
  max-height: 80vh;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li:hover {
  background: rgba(0, 0, 0, .15);
}

nav ul li:hover>ul {
  display: block;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li span {
  display: block;
  padding: 30px 20px;
  color: #222;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

nav ul ul {
  display: none;
  background: #fff;
  position: absolute;
  top: 100%;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .1);
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li span {
  cursor: pointer;
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

/* -------------/NAVBAR---------- */

/* ------------BACK TO TOP-------------- */
#back2Top {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  bottom: 50px;
  right: 0;
  background-color: white;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-radius:7px 7px 0 0;
  -webkit-box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  transition: .2s background-color ease;
  transition: .2s color ease;

}
#back2Top:hover {
  background-color: rgb(235, 235, 252);
  color: #000;
}